<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::html-head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>insert</h1>-->

<div class="container">
    <h1>insert</h1>
    <div th:replace="common::html-nav"></div>
    <div>
        <form method="post" th:object="${test}">
            <div th:if="${error}">
                에러 값이 true이면 이 부분이 나옴

            </div>
            aa = <input
                type="text"
                name="aa"
                class="form-control"
                th:field="*{aa}"
                th:classappend="${#fields.hasErrors('aa')} ? 'is-invalid'">
            <div th:if="${#fields.hasErrors('aa')}">
                aa값이 비어있으면 안됨.
            </div>

            bb = <input
                type="text"
                name="bb"
                class="form-control"
                th:field="*{bb}"
                th:classappend="${#fields.hasErrors('bb')} ? 'is-invalid'">
            <div th:if="${#fields.hasErrors('bb')}">
                bb값이 비어있으면 안됨.
            </div>
            <input type="submit" value="저장" class="btn btn-primary m-3"/>
        </form>
    </div>
    <div th:replace="common::html-foot"></div>
</div>

</body>
</html>